@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;800&display=swap');

/* ===== 主体 ===== */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #1D1D1F;
    display: flex
}

/* ===== Slogan部分 ===== */
.slogans{
    color: #FFFFFF;
    bottom: 2em;
    left: 2em;
    right: 32em;
    position: absolute;
}

/* Slogan 主slogan */
.slogans h1{
    font-weight: 800;
    font-size: 8em;
}

/* Slogan 主slogan前两词 */
.slogans h1 span{
    color: #22EEFF;
}

/* Slogan 副slogan */
.slogans p{
    font-weight: 100;
}

/* ===== 副窗部分 ===== */
.sub_win{
    background: #222224;
    color: #FFFFFF;
    width: 23em;
    padding-left: 2.5em;
    padding-top: 1em;
    top: 5em;
    bottom: 5em;
    right: 3em;
    position: fixed;
    overflow: hidden;
}

/* 登录窗 */
.sub_win .login_win{
    transition: 0.8s;
    width: 23em;
    right: 0em;
    position: absolute;
}

/* 注册窗 */
.sub_win .register_win{
    transition: 0.8s;
    width: 23em;
    right: -25em;
    position: absolute;
}
 
/* 副窗 标题 */
.sub_win h1{
    font-weight: 700;
}

/* 副窗 副标题 */
.sub_win p{
    font-weight: 400;
    font-size: 1em;
    display: inline;
}

/* 副窗 输入框 */
.sub_win .inputs input{
    display: block;
    position: absolute;
    transition: 0.3s;
    width: 15em;
    border-top: none;
    border-bottom: 1px solid #F5F5F7;
    border-left: none;
    border-right: none;
    font-weight: 400;
    font-size: 1em;
    color: #F5F5F7;
    background-color: transparent;
}

.sub_win .inputs input#username{
    top: 10em;
}

.sub_win .inputs input#password{
    top: 14em;
}

.sub_win .inputs input#confirm_pswd{
    top: 18em;
}

/* 副窗 输入框悬停样式 */
.sub_win .inputs input#username:hover{
    transition: 0.3s;
    width: 18em;
}

.sub_win .inputs input#password:hover{
    transition: 0.3s;
    width: 18em;
}

.sub_win .inputs input#confirm_pswd:hover{
    transition: 0.3s;
    width: 18em;
}

/* 副窗 输入框选中样式 */
.sub_win .inputs input#username:focus{
    outline: none; 
    width: 20em;
    border-bottom: 2px solid #FFFFFF;
}

.sub_win .inputs input#password:focus{
    outline: none;
    width: 20em;
    border-bottom: 2px solid #FFFFFF;
}

.sub_win .inputs input#confirm_pswd:focus{
    outline: none;
    width: 20em;
    border-bottom: 2px solid #FFFFFF;
}

/* 副窗 底端按钮 */
.sub_win .btns{
    bottom: -26em;
    position: absolute;
}

/* 副窗 主按钮 */
.sub_win button#sign_in, button#register{
    color: #1D1D1F;
    background-color: #22EEFF;
    transition: 0.3s;
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 1em;
    font-size: 1.1em;
    font-weight: 700;
}

.sub_win button#sign_in:hover, button#register:hover{
    background-color: #22AABB;
    transition: 0.3s;
}

.sub_win button#sign_in:active, button#register:active{
    background-color: #228899;
    transition: 0.3s;
}

/* 副窗 底部副按钮 */
.sub_win input#forgot_password, input#back{
    color: #F5F5F7;
    transition: 0.3s;
    background: transparent;
    border: none;
}

.sub_win input#forgot_password:hover, input#back:hover{
    color: #CCCCCE;
    transition: 0.3s;
}

/* 登录窗 Create Account选项按钮 */
.sub_win button#create_account{
    color: #22EEFF;
    background: none;
    border: none;
    font-size: 1em;
    padding-left: 0.2em;
}

.sub_win button#create_account:hover{
    color: #22AABB;
}

/* 登录窗 底部按钮 */
.sub_win .btns{
    width: 20em;
    display: flex;
}
