@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #222224;
    display: flex;
}

::-webkit-scrollbar, ::-webkit-scrollbar-corner{
    width: 6px;
    height: 6px;
    background-color: #222224;
}

::-webkit-scrollbar-thumb{
    background-color: #333335;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:active{
    background-color: #FFFFFF;
}

/* =====Club List 边窗===== */
.club_list{
    top: 0;
    width: 100px;
    height: 100%;
    padding-top: 10px;
    background-color: #070709;
    position: fixed;
}

.club_list button{
    transition: 0.5s;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: solid 1px;
    border-color: #555557;
    padding: 0;
    background: none;
    overflow: hidden;
    opacity: 0.6;
}

.club_list button img{  
    width: 70px;
    height: 70px;
}

.club_list .clubs button{
    margin-top: 18px;
    margin-left: 15px;
}

.club_list button#club_0{
    bottom: 10px;
    margin-left: 16px;
    position: fixed;
}

/* =====Tag List 边窗===== */
.tag_list{
    top: 0;
    left: 100px;
    width: 200px;
    height: 100%;
    position: fixed;
    padding-top: 0px;
    padding-left: 12px;
    background-color: #1D1D1F;
}

.tag_list h1{
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
}

.tag_list .tags{
    top: 50px;
    position: relative;
}

.tag_list .tags button{
    transition: 0.5s;
    display: block;
    margin: 20px 0px 20px 0px;
    color: #555557;
    background: none;
    font-weight: 100;
    width: max-content;
    border: solid 2px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

/* =====Detail Page 界面===== */
/* ===Add Club 界面=== */
.detail_page .all_club_list{
    top: 0;
    left: 300px;
    width: 76%;
    position: absolute;
    padding: 30px;
    background-color: #222224;
    display: grid;
    grid-template-rows: 400px 400px 400px 400px;
    grid-template-columns: 300px 300px 300px 300px;
}

/* Club Info 块 */
.detail_page .all_club_list section{
    width: 275px;
    height: 375px;
    position: relative;
    border-radius: 12px;
    background-color: #111113;
    overflow: hidden;
}

/* Club 背景图*/
.detail_page .all_club_list section img{
    width: auto;
    height: 130px;
}

/* Club Logo 外框 */
.detail_page .all_club_list section section#club_logo{
    width: 70px;
    height: 70px;
    top: 85px;
    left: 15px;
    position: absolute;
}

/* Club Logo */
.detail_page .all_club_list section section#club_logo img{
    width: 90%;
    height: auto;
    top: 5%;
    left: 5%;
    position: absolute;
    border-radius: 8px;
}

/* Club Name */
.detail_page .all_club_list section p#club_name{
    color: #F7F7F5;
    top: 10px;
    left: 20px;
    width: 220px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
}

/* Club Intro */
.detail_page .all_club_list section p#club_intro{
    color: #F7F7F5;
    top: 15px;
    left: 20px;
    width: 235px;
    height: 240px;
    position: relative;
    font-weight: 100;
    font-size: 10px;
}
